body{
    background-color: #968B7C;
}
.center
{
    margin: auto;
    display: block
}
.box{
    border: 1px solid #ccc;
    margin-top: 10px;
    background-color: #D3D3D3;
    padding: 10px;
    text-align: center;
}
.comments{
    text-align: left;
    background-color: #DCDCDC;
    padding: 10px;
    padding-bottom: 2px;
}

.img-rounded{
    border-radius: 6px;
}
.btn{
    -webkit-appearance: none;
    -webkit-user-select: none;
    -webkit-writing-mode: horizontal-tb;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    background-image: none;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(204, 204, 204);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 34px;
    letter-spacing: normal;
    line-height: 20px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    text-align: center;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 71px;
    word-spacing: 0px;
    writing-mode: lr-tb;
}
#loader{
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: 0.5;
}
#loader .loader {
    left: 49.8%;
    top: 49.6%;
    position: absolute;
    background-color: black;
    border-radius: 10px;
    width: 19px;
    display: none

}
.camera{
    left: 49%;
    position: absolute;
    top: 48%;
    opacity: 1;
    -webkit-animation:myfirst 1s linear 1s infinite alternate; /* Chrome, Safari, Opera */
    animation:myfirst 1s linear 1s infinite alternate;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst
{
0%   {transform:rotate(0deg);
-ms-transform:rotate(0deg); /* IE 9 */
-webkit-transform:rotate(0deg); /* Opera, Chrome, and Safari */}
50%{transform:rotate(30deg);
-ms-transform:rotate(30deg); /* IE 9 */
-webkit-transform:rotate(30deg); /* Opera, Chrome, and Safari */}
100% {transform:rotate(-30deg);
-ms-transform:rotate(-30deg); /* IE 9 */
-webkit-transform:rotate(-30deg); /* Opera, Chrome, and Safari */}
}

/* Standard syntax */
@keyframes myfirst
{
0%   {transform:rotate(0deg);
-ms-transform:rotate(0deg); /* IE 9 */
-webkit-transform:rotate(0deg); /* Opera, Chrome, and Safari */}
50%{transform:rotate(30deg);
-ms-transform:rotate(30deg); /* IE 9 */
-webkit-transform:rotate(30deg); /* Opera, Chrome, and Safari */}
100% {transform:rotate(-30deg);
-ms-transform:rotate(-30deg); /* IE 9 */
-webkit-transform:rotate(-30deg); /* Opera, Chrome, and Safari */}
}